<!DOCTYPE html>
<html>

<head>
  <title>Schedule Calendar</title>
  <script src="/index.js"></script>
  <link rel="stylesheet" href="/stylesheet.css">
  <link rel="stylesheet" href="/form.css">
  <link rel="stylesheet" href="/eventForm.css">
  <link rel="stylesheet" href="/calendar.css">
</head>

<body>
  <div class="header">

    <div class="dropdown">
      <button class="dropdown-toggle" onclick="toggleDropdown()">withdraw</button>
      <ul class="dropdown-menu">
        <li onclick="getBusyData()">busy time</li>
        <li onclick="getFreeData()">free time</li>
        <li onclick="getAllData()">all time</li>
      </ul>
    </div>

    <h1>Working schedule</h1>

    <div class="small-calendar">
      {{>small-calendar}}
    </div>
  </div>

  <div class="calendar">

    {{#each this}}
    {{#if this.date}}
    <div class="day ">
      <div class="config-block">
        {{this.week_day}}
        {{this.date}}
        <div class="config-btn" id="day_{{@index}}" onclick="openConfigureModal('{{this.date}}')">+</div>
      </div>
    </div>
    {{/if}}
    {{/each}}



    <!-- Example events -->
    {{#each this}}
    {{#if this.date}}
    {{>current_day free_date}}
    {{/if}}
    {{/each}}


  </div>
  {{>modals}}


</body>

</html>